/* Estilos generales */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  .container {
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header */
  header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: -49px;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  header img {
    height: 94px;
    margin-right: 20px;
    position: absolute;
    left: 3%;
    top: 39%;
  }
  
  nav {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 5px;
    padding: 5px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    padding: 5px;
    border: 5px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  nav a.active,
  nav a:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .menu-tecnologia {
    color: #007bff;
  }
  
  .menu-deportes {
    color: #28a745;
  }
    
  .menu-entretenimiento {
    color: #ffc107;
  }
  
  /* Main */
  main {
    padding-top: 5px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  section article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
  }
  
  section article img {
    max-width: 100%;
  }
  
  section article h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  section article p {
    margin: 10px 0;
  }
  
  
  /* Footer */
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
  }
  
  footer p {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }
  
  #hora-actual {
    font-size: 1.2rem;
    text-align: center;
  }
  

h1{
    color: #c25916;
    position: relative;
    left: 8%;
    top: 50px;
}

.categoria-tecnologia{

  padding: 3px 70px;
  border-top: 3px solid #007bff  ;
}

.categoria-deportes{

  padding: 3px 70px;
  border-top: 3px solid #28a745  ;

}

.categoria-entretenimiento{

  padding: 3px 70px;
  border-top: 3px solid #ffc107  ;

}

.card-deck{
  display: -webkit-box;

}

.card{
  margin: 23px;
  position: relative;
  left: 15%;
}

 .M-dublincore {
  font-size: 11px;
  font-family: arial;
  
}

.dublincore{
  margin: 1%;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
  

}

dt {

  margin: 1px;
  justify-content: center;

}

dd{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}





